[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
pyside6 = "*"
mplfinance = "*"
websockets = "*"
mysql-connector-python = "*"
aiohttp = "*"
websocket-client = "*"
ccxt = "*"

[dev-packages]

[requires]
python_version = "3.13"
